doctype html
html(lang="en")
  head
    title Poétika
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    script(src='/js/script.js')
  body
    h1 Poétika
    h3 Poesía del sigo 21
    p Current sensor value is:
      #x X:
      #x-val None
      #y Y:
      #y-val None
      #z Z:
      #z-val None
    img(id='yo', src='/img/yo.png')
